@charset "UTF-8";
/* CSS Document */
/* Easy CSS Tooltip - by Koller Juergen [www.kollermedia.at] */

a{
color:#000;
text-decoration:none;
display:inline-block;
position:relative;	
}

a:hover {background:#ffffff;} /*BG color is a must for IE6*/

a.tooltip span {
display:none;
font-size:14px;
text-align:center;
width:54px;		
}

a.tooltip:hover span{
display:inline;
position:absolute;
z-Index:100;
background:#ddd;
color:#666;
top:20px;
left:2px;			
}